# Frontend
node_modules/
.next/
out/

# API
api/.env
**/__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.env
.venv

# TypeScript build cache
tsconfig.tsbuildinfo

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
